/* Base Styles */

body {
  text-align: center;
  background-color: #fefffa;
}
main {
  display: grid;
}

/* Employee Card Design */

.card {
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}
.card:hover {
  background-color: #f7f7f7;
}
.avatar {
  border-radius: 50%;
  max-width: 128px;
  margin-left: auto;
  margin-right: auto;
}

/* Modal Layout */

body {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4)
}
.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
}
.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}
.hidden {
  display: none;
}

/* Media Queries */
@media (min-width: 768px) {
  main {
    grid-template-columns: auto auto;
    grid-gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
  } 
}

@media (min-width: 1024px) {
  body {
    text-align: left;
  }
  header, 
  main {
    margin-left: 2em;
    margin-right: 2em;
  }
  main {
    grid-template-columns: auto auto auto;
    grid-gap: 2em;
  }
  .card {
    flex-direction: row;
    justify-content: space-between;
  }
  .avatar {
    max-height: 128px;
  }
  .text-container {
    margin-left: 1em;
  }
}
